{
    comments: false,
    presets: [
        '@babel/preset-env',
    ],
    plugins: [
        'transform-remove-console',
        'transform-minify-booleans',
        ['module-extension', {mjs: 'js'}]
    ]
}
