.DS_STORE
.editorconfig
.eslintrc
.nycrc
.nyc_output
.babelrc
.c8rc.json
.gitignore
.eslintrc.json
.travis.yml
.git
.github
tsconfig.json
tsconfig.build.json
tsconfig.types.json
tsconfig.types_all.json
codecov.sh
codecov
node_modules/
coverage/
test/
lib/
gulpfile.js
yarn.lock
package-lock.json
CHANGELOG.md
