{
    "cache": false,
    "check-coverage": false,
    "extension": [
        ".ts"
    ],
    "include": [
        "lib/**/*.ts"
    ],
    "exclude": [
        "coverage/**",
        "node_modules/**",
        "**/*.d.ts",
        "**/*.test.ts",
        "dist/*.js",
        "test/benchmark.ts",
        "test/constants.ts"
    ],
    "sourceMap": true,
    "reporter": [
        "html",
        "lcov",
        "text",
        "text-summary"
    ],
    "all": true,
    "instrument": true
}
